<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static',filename='main.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <script src="js/jquery-3.3.1.min.js"></script>

    {% if title %}
    <title>HERD - {{title}}</title>
    {% else %}
    <title>HERD</title>
    {% endif %}
</head>

<body>
    <!--header: navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
            <a class="navbar-brand h1 fw-bold mb-0 color" id="main-heading" href="{{url_for('search')}}">HERD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('search')}}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('search_table')}}">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{url_for('help')}}">Help</a>
                    </li>
                </ul>
                <div class="navbar-nav collapse.show">
                    <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                    <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                </div>
            </div>
            <ul class="navbar-nav me-2 mb-2 mb-lg-0 collapse">
                <li class="nav-item px-1 mx-1">
                    <a class="nav-item nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item px-1 mx-1">
                    <a class="btn btn-info" href="#" role="button">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main stuff-->
    <main role="main" class="container">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>


    </main>

    <!--footer-->
    <footer class="footer-16371 footer mt-4 py-4">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <div class="footer-site-logo mb-4">
                        <a href="/">HERD</a>
                    </div>
                    <ul class="list-unstyled nav-links mb-5">
                        <li><a href="{{url_for('about')}}">About</a></li>
                        <li><a href="{{url_for('help')}}">Help</a></li>
                        <li><a href="#">Contact us!</a></li>
                    </ul>
                    <!--
                    <div class="social mb-4">
                        <h3>Stay in touch</h3>
                        <ul class="list-unstyled">
                            <li class="in"><a href="#"><span class="icon-instagram"></span></a></li>
                            <li class="fb"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div>
                    -->
                    <div class="copyright">
                        <p class="mb-0"><small>&copy; HERD. All Rights Reserved.</small></p>
                    </div>


                </div>
            </div>
        </div>
    </footer>

</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</html>